<?xml version ="1.0" encoding ="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper と xml の マッピング -->
<mapper namespace="com.example.joint_development.repository.BelongsMapper">

    <!-- マッピング定義-->
    <resultMap id="belongs" type="com.example.joint_development.domain.Belongs">
        <id column="user_id" property="userId"/>
        <result column="project_id" property="projectId"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 新規作成時のリーダー登録 -->
    <insert id="newProjectReader">
        insert into belongs (user_id,project_id,status)
        values(#{userId},#{projectId},'belongs')
    </insert>

    <!-- 参加申請orステータス更新 -->
    <insert id="updateStatus">
        insert into belongs (user_id,project_id,status)
        values(#{userId},#{projectId},#{status})
        ON CONFLICT (user_id,project_id)
        do update set
        status = #{status}
    </insert>

    <!-- 応募者確認　List -->
    <select id="checkApplicant" resultType="ProjectUser">
        select users.user_id,users.name,engineer_kinds 
        from users
        join belongs on users.user_id=belongs.user_id
        where belongs.project_id=#{projectId} 
        and belongs.status='pending'
    </select>
</mapper>
